:root {
    --primarycolor: #9a4c2e;
    --fontSize: 24px;
}

.slick-prev, .slick-next {
  color: var(--primarycolor); /* Cor das setas */
  z-index: 1;
}


.slick-prev::before, .slick-next::before {
  color: var(--primarycolor);
  font-size: var(--fontSize); /* Tamanho das setas */
}


.slick-dots li button:before {
  color: var(--primarycolor); /* Cor dos pontos */
  font-size: calc(var(--fontSize)/2); /* Tamanho dos pontos */
}

.slick-dots li.slick-active button:before {
  color: var(--primarycolor); /* Cor dos pontos ativos */
  opacity: 1;
}

.slick-slider{
  margin-bottom: calc(var(--fontSize));
}